<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <app-text-input 
        [formControl]='registerForm.controls["username"]' 
        [label]="'Username'">
    </app-text-input>
    <app-text-input 
        [formControl]='registerForm.controls["password"]' 
        [label]="'Password'" 
        [type]='"password"'>
    </app-text-input>
    <app-text-input 
        [formControl]='registerForm.controls["confirmPassword"]' 
        [label]="'Confirm Password'" 
        [type]='"password"'>
    </app-text-input>

    <div class="form-group text-center">
        <button 
            class="btn btn-success m-2" 
            type="submit"
            >
            Register</button>
        <button class="btn btn-outline-danger m-2" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>

<p>Form Value: {{ registerForm.value | json }}</p>
<p>Form Status: {{ registerForm.status | json }}</p>