.my-drop-zone { border: dotted 3px lightgray; }
    
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
    
.another-file-over-class { border: dotted 3px green; }

img.img-thumbnail {
    height: 100px;
    min-width: 100px !important;
    margin-bottom: 2px;
}

input[type=file] {
    color: transparent;
}


.file-input {
    display: none;
  }