<div class="row">
    <div class="col-2" *ngFor="let photo of member.photos">
        <img src="{{ photo.url }}" alt="{{ photo.url }}" class="img-thumbnail p-1">

        <div class="text-center">
            <button 
                [disabled]="photo.isMain"
                (click)="setMainPhoto(photo)"
                [ngClass]="photo.isMain ? 'btn btn-success active' : 'btn btn-outline-success'">
                Main
            </button>
            <button 
                class="btn btn-sm btn-danger m-2"
                [disabled]="photo.isMain"
                (click)="deletePhoto(photo.id)">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>
</div>

<div
  class="row mt-3 file-upload-wrapper"
  [class.success]="uploadSuccess"
  [class.error]="uploadError"
  (drop)="onFileDrop($event)"
  (dragover)="onDragOver($event)"
>
  <input
    type="file"
    accept="image/*"
    (change)="onFileChange($event)"
    hidden
    multiple
    #fileInput
  />
  <div class="file-dropper" (click)="fileInput.click()">
    <i class="fa fa-upload fa-3x"></i>
    <p>{{ "Drag and drop or click" }}</p>
    <div *ngIf="imageName()">
      <div *ngIf="selectedFile || imagePreview">
        <img
          [src]="imagePreview()"
          alt="Image Preview"
          class="image-preview"
        />
        <p>
          <span class="image-name">{{ imageName() }}</span> ({{
            fileSize()
          }} KB)
        </p>
        <!-- <button type="button" class="btn btn-success btn-s" (click)="uploadImage()">
            <span class="fa fa-upload"></span> Upload
        </button> -->
        <button type="button" class="btn btn-danger btn-s m-3" (click)="removeImage()">
            <span class="fa fa-trash"></span> Remove
        </button>
      </div>
    </div>
  </div>
</div>